
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
LochsEmu/pi_rec.txt
LochsEmu/ia.dat
LochsEmu/i?.dat
LochsEmu/pi_data.txt
*.vsp
*.orig
*.ipch
*.opensdf
*.sdf
LochsEmu.sdf
*.pyc
LochsEmu.psess
